
body {
    background-color: rgb(56, 75, 87);
    color: rgb(46, 44, 44);
    font-family: 'Montserrat',sans-serif;
    margin: 0 auto;
    padding: 0;
}
.preto{
    background-color:#2f3436 ;
}
h1 {
    font-weight: 500;
    color: cyan;
}

h2, h3 {
    color: rgb(230, 234, 237);
}

p {
    line-height: 1.6;
}

.imagem-formatada {
    border-radius: 48%;
    width: 350px;
    height: 350px;
    box-shadow: 20px 20px 15px cyan;
    object-fit: cover;
}

header {
    background-color: rgb(22, 25, 26);
    color: white;
    padding: 20px 0;
}

footer {
    background-color: rgb(35, 121, 136);
    color: white;
    padding: 10px 0;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    font-weight: lighter;
}



.nome{
    font-weight: lighter;
    color: cyan;
    
}


.page-section {
    color: azure;
    background-color: #2f3436;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 20px;
    margin-top: 60px;
}
.page-section1 {
    background-size: cover; 
    background-position: center; 
    background-image: url(back.png);
    border-radius: 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 20px;
    margin-top: 60px;
}

#habilidades {
    background-color: rgb(220, 232, 245);
}

#contato {
    background-color: #2f3436;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
}

.sombra{
    text-shadow:  2px 2px 0 rgba(100, 84, 84, 0.4);
    text-align: center;
    margin: 10%;
}

.sombra2{
    color:cyan;
    text-shadow:  2px 2px 0 rgba(74, 244, 249, 0.4);
    margin:5%;
    font-weight: lighter;


}

.social-links a {
    color: rgb(35, 121, 136);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s, color 0.2s;
}

.social-links a:hover {
    color: rgb(16, 99, 172);
    transform: scale(1.1);
}

.social-links img {
    transition: transform 0.2s;
}

.social-links img:hover {
    transform: rotate(10deg);
}


.social-links-container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.social-block {
    width: 170px;
    background-color:  rgb(247, 250, 250);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.social-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(246, 249, 249, 0.3);
}

.social-block a {
    text-decoration: none;
    color: #2f3436;
    font-weight: bold;
    font-size: 16px;
    display: block;
}


.social-block img {
    transition: transform 0.2s ease;
}

.social-block img:hover {
    transform: rotate(15deg);
}

.habilidades-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sobremim-block{
    width: 135%;
    background-color: #1b1e1f;;
    border-radius: 0px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 0px;
}



.habilidades-block {
    width: 80%;
    background-color: #2f3436;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.habilidades-block h3 {
    color:cyan;
    font-weight:lighter;
    margin-bottom: 30px;
}

.habilidades-block p {
    color: #f2f5f6;
    margin-bottom: 20px;
}


.habilidades-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(29, 121, 174, 0.3);
}
.sobremim-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(29, 121, 174, 0.3);
}

